################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CapaPresentacion/copilot-chat/0de3416e/sessions
